# Archivos de Rust generados por compilación
/target/
**/*.rs.bk

# Archivos de configuración y log de Cargo
Cargo.lock
.cargo/

# Archivos y carpetas del entorno
.DS_Store
.idea/
.vscode/
*.swp

# Archivos binarios y de salida
*.exe
*.out
*.png
*.log

# Archivos de salida generados
/out.png

# Git
.gitignore
